.container
  .page-header
    %h1
      start by 
      %a{ href: "https://docs.google.com/spreadsheets/create" } creating a new spreadsheet

  .page-header
    %h1
      read about skuld at
      %a{ href: "https://github.com/dentarg/skuld#skuld" } github.com/dentarg/skuld
