%html
  %link{ href: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel: 'stylesheet', type: 'text/css' }
  %link{ href: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css', rel: 'stylesheet', type: 'text/css' }
  %head
    %title
      - if @title
        = "#{@title} - skuld"
      - else
        = "skuld"
  %body
    .container
      = yield
